In [ ]:
# Q1 values or expressions
* - expression (as it is an arithmetic operator)
'hello' - values(it is a string)
-87.8 - values(it is a float value)
- - expression(it is an arithmetic operator)
/ - expression(it is an arithmetic operator)
+ - expression(it is an arithmetic operator)
6 - values(integer)

In [ ]:
#Q2 difference between string and variable
variable : Variable is an identifier to store a value in a memory location and later manupulate it if required.
           variables can be of different data types like int,float,string.
           Eg. a = 10 ; a is a variable

string : string is a data type for sequence of characters.Anything we assign to a variable using single/double quotes is a string
         In other words,string is defined as a type of information you would store in a variable.
         a = 'game' . here a is variable and type of a is string

In [ ]:
#Q3 three different data types
Data types can be classified into the following categories:
Numeric : int,float,complex
Sequence : string,list,tuple
Dictionary
Boolean : True,False
    
Boolean is used to return either true/false i.e.0 or 1
Dictionary is stored in key value pair and it is an unordered collection of data values
Sequence : string is a sequence of characters
           list is an ordered collection of heterogenous element and it is mutable.Lists can be created by enclosing the elements within []
           tuple is similar to list except that it is immutable means,we cannot change the value of tuple.Tuple is enclosed within () and the elements are separated by ,

In [ ]:
# Q4 expression made up of
An expression is made up of variables,operators,operands and methods which are defined according to the syntax and provides the result as a single value.
An expression is evaluated based on order of precedence.
Types of expressions:
    Constant expression,arithmetic,integral,floating,relational expressions,logical and bitwise

In [ ]:
#Q5 difference between statement and expressions
Statement : A statement is an instruction that the Python interpreter can execute.
            print and assignment are some examples of statement.If we type a statement in python,interpreter evaluates and displays the result if there is one
            Eg: print(a) , a = 3
Expressions : An expression is a combination of values, variables,operators.If we type a statement in python,it evaluates and displays result
              1+1

In [3]:
#Q6 
bacon = 23

In [5]:
#Q7
'spam'+'spamspam' = 'spamspamspam'
'spam'*3 = 'spamspamspam'

'spamspamspam'

In [ ]:
#Q8
eggs is valid variable name and 100 is invalid because according to naming convention the first letter should start with alphabet or underscore and not with numerical

In [ ]:
#Q9
a = 10
int(a)
float(a)
str(a)

In [ ]:
#Q10 'I have eaten'+ 99 + 'burritos'

The above expression causes error,because we cannot concatenate str with int.
It can be fixed by using the below methods:
    'I have eaten'+ str(99) + 'burritos'
    'I have eaten'+ '99' + 'burritos'